* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

.contact .contact-title, .portafolio .portafolio-title, .services-container .title-services, .about-me-container .title-about-me {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.portafolio, .about-me-container {
  background-color: #cfcfcf;
  border: 2px solid #b1b1b1;
}

.contact {
  border-top: 2px solid #4e4e4e;
  background-color: #a1a1a1;
}

header {
  background: linear-gradient(to right, #bebebe, #ececec);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #949494;
}
header nav {
  background: linear-gradient(to right, #bebebe, #ececec);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header nav div div ul li a {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
header .contact-button {
  background-color: #89DEA9;
  border: 5px solid #89DEA9;
  border-radius: 13px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
}
header .contact-button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
header .logo {
  width: 100px;
  margin-left: 5%;
  margin-top: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  header .logo {
    display: none;
  }
}
header .logo-container {
  display: inline;
}

.inicio .Carrusel1, .inicio .Carrusel2, .inicio .Carrusel3 {
  width: 100%;
  margin-top: 75px;
}
@media screen and (max-width: 510px) {
  .inicio .Carrusel1, .inicio .Carrusel2, .inicio .Carrusel3 {
    width: 250px;
  }
}
.inicio div .title {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-size: 30px;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: 50%;
  left: 85px;
}
.inicio div .contact-button {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  background-color: #89DEA9;
  border: 5px solid #89DEA9;
  border-radius: 13px;
  position: absolute;
  top: 60%;
  left: 85px;
}
.inicio div .contact-button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

@media screen and (max-width: 900px) {
  .inicio {
    display: none;
  }
}
.about-me-container {
  margin-top: 10px;
}
.about-me-container .about-me-container {
  background-color: #cfcfcf;
  border-top: 2px solid #a5a5a5;
}
.about-me-container .grid-about-me {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 50px;
}
.about-me-container .designer-photo {
  width: 80%;
  margin-left: 50px;
  margin-bottom: 20px;
  border: 2px solid #727272;
  border-radius: 25px;
}
.about-me-container .designer-info {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 883px) {
  .about-me-container .designer-info {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .about-me-container .grid-about-me {
    grid-template-columns: 1fr;
  }
  .about-me-container .designer-info {
    justify-content: center;
    margin-bottom: 20px;
  }
  .about-me-container .designer-photo {
    margin-left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .about-me-container {
    padding-top: 60px;
  }
}
.services-container {
  padding-bottom: 50px;
  padding-bottom: 30px;
}
.services-container .services-grid-container {
  display: grid;
  grid-template-columns: 5% auto;
  row-gap: 30px;
  column-gap: 40px;
}
.services-container .service-image1, .services-container .service-image2, .services-container .service-image3 {
  width: 100px;
  margin-left: 5px;
  flex-wrap: wrap;
}
.services-container .logos-text, .services-container .front-text, .services-container .signs-text {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  .services-container .services-grid-container {
    grid-template-columns: 9% auto;
  }
}
@media screen and (max-width: 900px) {
  .services-container .services-grid-container {
    grid-template-columns: 12% auto;
  }
}
@media screen and (max-width: 600px) {
  .services-container .services-grid-container {
    grid-template-columns: 15% auto;
  }
}
.services-container .services-container .container div div {
  display: flex;
  justify-content: center;
}

.portafolio {
  /* Texto Carrusel */
}
.portafolio .carrusel-portafolio {
  display: flex;
  justify-content: center;
}
.portafolio .porta-carrusel-title1, .portafolio .porta-carrusel-title2, .portafolio .porta-carrusel-title3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-size: 30px;
  font-weight: bold;
}
.portafolio .porta-carrusel-subtitle1, .portafolio .porta-carrusel-subtitle2, .portafolio .porta-carrusel-subtitle3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-size: 22px;
  font-weight: bold;
}
.portafolio .carousel-border {
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contact .contact-text {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
}
.contact .phone-number {
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 30px;
}
.contact .e-mail {
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 35px;
}
.contact .instagram-image, .contact .facebook-image, .contact .twitter-image {
  width: 35px;
  margin-right: 5px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact .email-image, .contact .phone-image {
  width: 35px;
  margin-right: 5px;
  margin-left: 0px;
}

.copyright {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: black;
  font-size: 15px;
  background-color: #a1a1a1;
  margin-bottom: 0;
}

.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
