.copyright {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: black;
    font-size: 15px;
    background-color: #a1a1a1;
    margin-bottom: 0;
}

.disclaimer {
    display: none;
}