
@mixin images( $size, $margin-abajo, $margin-izquierdo, $borde, $borde-radius) {
    width: $size;
    margin-bottom: $margin-abajo;
    margin-left: $margin-izquierdo;
    border: $borde;
    border-radius: $borde-radius;
}