.portafolio {
    @extend %background-and-border;

    .portafolio-title{
        @extend %titulos;
    }

    .carrusel-portafolio {
        display:flex;
        justify-content: center;
    }

/* Texto Carrusel */

    .porta-carrusel-title1, .porta-carrusel-title2, .porta-carrusel-title3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    
    } 

    .porta-carrusel-subtitle1, .porta-carrusel-subtitle2, .porta-carrusel-subtitle3{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bold;
    }

    .carousel-border {
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    }

    

}