.services-container {
    padding-bottom: 50px;

    .services-grid-container {
        display: grid;
        grid-template-columns: 5% auto;
        row-gap: 30px;
        column-gap: 40px;
    }

        padding-bottom: 30px;

        .title-services {
            @extend %titulos;
        }
        
        
        .service-image1, .service-image2, .service-image3 {
            width: 100px;
            margin-left: 5px;
            flex-wrap: wrap;
        }
        .logos-text, .front-text, .signs-text {
            font-family: 'Roboto Condensed', sans-serif;
            color: black;
            font-size: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 20px;
        }
        
        @media screen and (max-width: 1200px) {
            .services-grid-container {
                grid-template-columns: 9% auto;
            }
        }
        
        @media screen and (max-width: 900px) {
            .services-grid-container {
                grid-template-columns: 12% auto;
            }
        }
        
        @media screen and (max-width: 600px) {
            .services-grid-container {
                grid-template-columns: 15% auto;
            }
        }
        
        .services-container .container div div {
            display: flex ;
            justify-content: center;
        }
    }