* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

@import 'header';

@import 'inicio';

@import 'sobremi';

@import 'services';

@import 'portafolio';

@import 'contact';

@import 'footer';