* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}



// Mixin
@import 'mixin';

// Extend
@import 'extend';

// Header
@import 'header';

// Inicio
@import 'inicio';

// Sobre Mi
@import 'sobremi';

// Servicios

@import 'services';

// Portafolio
@import 'portafolio';

// Contacto
@import 'contact';

// Footer
@import 'footer';
